{% extends 'default.html' %}

{% block content %}

<h5>Отклики к статье: {{''}}</h5>

    <hr>
{% csrf_token %}
{% for comment in list_comments %}

<ul class="list-articles">
    <li>
	<div class="article-panel">

		<p class="first">Автор: {{ comment.commentUser.username|default:"Неизвестен" }}</p>
		<p class="last">Дата: {{comment.dateCreation|date:"d-m-Y H:i:s"}}</p>

	</div>
    </li>
</ul>
    <table>
        <td width="83%">{{ comment.text }}</td>
        <td width="10%"><a href="">Принять</a></td>
        <td><a href="">Удалить</a></td>
    </table>

{% endfor %}
{% endblock%}