{% extends 'default.html' %}

{% block title %}
Comments
{% endblock title %}

{% block content %}
<h1>Отклики к моим статьям</h1>
<!--    <h5>Количество: {{ comments|length }}</h5>-->
<hr>
<!--<form action="" method="get">-->
<!--	-->
<!--	<input type="submit" value="Find">-->
<!--</form>-->
<!--{{ filterset.form.as_p }}-->
{% for comment in comments %}

<ul class="list-articles">
    <li>
	<div class="article-panel">
		<p class="first">Автор статьи: {{comment.post}}</p>
		<p class="last">Дата: {{comment.dateCreation|date:"d-m-Y H:i:s"}}</p>
	</div>
		<p class="first">Статья: {{comment.commentPost}}</p>
		<table>
			<tr>
				<td align="left">{{ comment.commentUser }}:</td>
               <td>{{ comment.text|linebreaks|truncatewords:40 }}</td>

               	<td align="left"><a href="#">Принять</a></td>
				<td align="right"><a href="#">Удалить</a></td>
			</tr>
		</table>
<!--			<div class="clear"></div>-->
<!--			<p class="link-read-post"><a href="{{ comment.get_absolute_url }}">Подробнее</a></p>-->
	</li>
</ul>
{% endfor %}
{% endblock content %}
